/*****************************  Header  *****************************/

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Oswald;
  background-color: var(--Naranjo);
  color: var(--Blanco);
  margin: 0;
  max-height: 650px;
  align-items: center;
  overflow: hidden;
  justify-content: center;

}

.titulo {
  margin-left: 3rem;
  max-width: 25ch;

}

.titulo h1 {
  font-size: clamp(2rem, 7vw, 8rem);
  margin: 0;
  line-height: 100%;
}

.titulo p {
  font-size: clamp(1rem, 2vw, 2rem);
}


header img {


  width: 100%;
  display: block;
  justify-self: right;

}

/***************************** NAV BAR *****************************/



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;


}



nav a {
  text-decoration: none;
  color: var(--Naranjo);
  text-transform: uppercase;
  font-weight: 700;


}

nav a:hover {
  color: var(--NaranjoClaro);
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Naranjo);
}

/***************************** BOTÓN TOTAL *****************************/
.total {


  padding: 0rem 1.5rem;
  border-radius: 50px;
  font-family: Roboto;
  font-weight: 800;
  border: none;
  background-color: var(--Naranjo);
  box-shadow: -4px 5px 0px rgba(107, 32, 21, 0.353);
  height: 3.5rem;
  color: var(--Blanco);

}

.total:hover {
  background-color: var(--NaranjoClaro);
  cursor: pointer;
}

.total a {
  color: var(--Blanco);
}

.total a:hover {
  color: var(--Blanco);
}

/***************************** PIZZA CARD *****************************/


.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 15px;
  max-width: 250px;
  box-shadow: -4px 5px 0px rgba(186, 126, 116, 0.353);


}

.fotopizza {
  width: 100%;

}

.fotopizza img {
  width: 100%;
  border-radius: 15px;
}

.nombre,
.precio {
  font-weight: 700;
  font-size: 1.2rem;
  margin: .5rem;
  color: var(--GrisOscuro);
  font-family: oswald;
}

.card ul {
  flex-wrap: wrap;
  gap: .5rem;
}

.ingredientes {
  color: var(--Grismedio);
  font-size: .8rem;
  text-transform: capitalize;
  padding: .5rem;
  flex-wrap: wrap;
  border: solid .5px var(--NaranjoClaro);
  border-radius: 10px;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.verMas {
  border: solid 1px var(--Naranjo);
  background-color: white;
  color: var(--NaranjoClaro);
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
  padding: .8rem 1rem;
  border-radius: 25px;
}

.anadir {
  border: none;
  background-color: var(--Naranjo);
  color: var(--Blanco);
  font-family: Roboto;
  font-weight: 700;
  padding: .8rem 2.5rem;
  border-radius: 25px;
  font-size: 1rem;
}

.verMas:hover {
  border: solid 1px var(--NaranjoClaro);
  cursor: pointer;
  background-color: var(--Blanco);
  color: var(--Naranjo);
}

.anadir:hover {
  background-color: var(--NaranjoClaro);
  color: white;
  cursor: pointer;
}

/***************************** PIZZA INFO *****************************/

.pizzainfo {
  background-color: white;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: -4px 5px 0px rgba(186, 126, 116, 0.353);
  display: flex;
  justify-content: center;
  width: min-content;
  place-self: center;
  margin: 5rem;

}

.pizzainfo img {


  width: 300px;
  margin: 2rem;
  border-radius: 15px;
}


/***************************** FOOTER *****************************/

.redes {
  background-color: var(--Blanco);
  color: var(--Naranjo);
  height: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.logofooter {
  text-align: center;
  justify-self: center;
  color: var(--Naranjo);

}

.mammafooter {
  display: flex;
  flex-direction: column;

  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  font-family: Oswald;
}

.iconos {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 1rem;
}

.enlace {
  font-size: 1rem;
  font-weight: 600;
}

.iconos a {
  text-decoration: none;
  color: var(--Naranjo);
  font-size: 2rem;
}

.info {
  background-color: var(--Naranjo);
  text-align: center;
  color: var(--Blanco);
  padding: 2rem;
  font-weight: 300;
}


/***************************** MODAL *****************************/

.modal {
  background-color: rgba(0, 0, 0, 0.475);
  display: grid;
  place-items: center;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;


}


.modal-contenido {
  color: var(--GrisOscuro);
  padding: 3rem;
  background-color: white;
  border-radius: 10px;
  width: 15rem;
  height: 20rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-self: center;
  box-shadow: -4px 5px 0px rgba(135, 71, 60, 0.808);

}

.cart {
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

body.modal-open {
  overflow-y: hidden;
}


/***************************** REGISTER Y LOGIN  *****************************/



/***************************** FORM *****************************/
.form {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px;

  padding: 1.5rem;

}

.validaciones {
  position: relative;
  margin-bottom: .5rem;



}

input {

  font-weight: 600;
  border-radius: 5px;
  padding: .8rem;
  border: solid 1px var(--NaranjoClaro);
  display: block;
  width: 100%;
  box-sizing: border-box;

}

.alert {
  color: var(--Naranjo);

  font-size: .6rem;
  font-weight: 500;
  font-style: italic;
  text-align: right;
  margin-right: .4rem;
  margin-bottom: 0;


}

.error {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 0%;
  color: var(--Naranjo);

}



.registrar {
  font-family: Roboto;
  background-color: var(--Naranjo);
  color: white;
  letter-spacing: 1px;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: -4px 5px 0px rgba(186, 126, 116, 0.353);
  font-weight: 600;
  margin-top: .5rem;
  width: 100%;
}

.registrar:hover {
  background-color: var(--NaranjoClaro);
  cursor: pointer;
}

.registrate {
  text-align: center;
  color: var(--GrisOscuro);
  font-size: 1.5rem;
  font-weight: 500;
}

.registrate span {
  font-family: Oswald;
  font-size: 1.5 rem;
  font-weight: 700;
}

.botonCerrarModal {
  position: absolute;
  cursor: pointer;
  z-index: 1500;
  color: var(--Naranjo);
  font-size: 1.5rem;
  padding: .5rem;
  top: -1rem;
  right: 1rem;


}

.botonCerrarModal a {
  color: var(--Naranjo);
}

/***************************** REGISTRO OK *****************************/

.checkIcon {
  font-size: 4rem;
  color: var(--Naranjo);
  margin: 0;

}


/***************************** CARRITO  *****************************/

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-sizing: border-box;
  padding: 2rem;
  width: min-content;
  gap: .8rem;
  justify-self: right;
  height: 100%;


}

.carritoVacio {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  width: 10rem;

}

.iconoVacio {
  color: var(--Naranjo);
  font-size: 2rem;

}

.tituloCart {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Naranjo);
  margin: 1rem 0 .8rem 0;
  text-align: center;

}

.pedido {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: solid 1px rgb(216, 216, 216);
  padding-bottom: 2rem;

}

.imagenPedido {
  width: 8rem;
  height: fit-content;
  border-radius: 10px;
}

.sumaResta {
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: .5rem;

}

.sumaResta:hover {
  cursor: pointer;
  background-color: var(--Grismedio);
  color: var(--Blanco);
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.detalle {
  text-align: left;
  margin-right: 3rem;
}

.nombrePedido {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--GrisOscuro);
  font-family: oswald;
  margin: 0;
}

.precioPedido {
  color: var(--GrisOscuro);
  font-size: .9rem;

}

.cerrarPedido {
  position: absolute;
  top: 0;
  right: 0;
}

.pagoCart {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  color: var(--GrisOscuro);
  padding: 1rem;
  gap: 2rem;
  text-align: center;
}

.totalCart {
  display: flex;
  justify-content: space-between;

}

.totalmonto {
  font-weight: 700;
  font-size: 1.2rem;

}

.compralista{
  width: 300px;
  border-radius: 15px;
}
.gracias{
  font-family: Oswald;
  font-size: 2rem;
  font-weight: 700;
  color: var(--Naranjo);
  text-align: center;
}
.pronto{
  color: var(--GrisOscuro);
  text-align: center;
}
/***************************** Profile  *****************************/
.profile {
  display: flex;
  margin-left: 1rem;
  align-items: center;
  place-self: center;
  margin: 2rem;
  background-color: var(--Blanco);
  padding: 5rem;
  border-radius: 15px;
  gap: 2rem;
  box-shadow: -4px 5px 0px rgba(224, 183, 176, 0.353);
}


.logeado {
  display: flex;
  flex-direction: column;
  color: var(--GrisOscuro);
  font-size: .9rem;
}


.tuPerfil{
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  text-align: center;
}
.correo {
  font-weight: 600;
  color: var(--Naranjo);
  margin: 0;
}

.cerrarSesion {
  color: var(--Grismedio);
}

.cerrarSesion:hover {
  cursor: pointer;
  color: var(--GrisOscuro);
}

.usuario {
  display: flex;
  align-items: center;
  margin-left: .5rem;
  color: var(--GrisOscuro);
  font-size: 1rem;
  border: solid 2px var(--GrisOscuro);
  border-radius: 100%;
  padding: .5rem;
  height: 15px;
  width: 15px;

}

/***************************** 404 *****************************/

.errorPizza {
  height: clamp(6rem, 15vw, 15rem);
  font-size: clamp(6rem, 15vw, 15rem);
  color: var(--GrisOscuro);
  margin: 0;


}

.errortitle {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 600;
  color: var(--GrisOscuro);
  margin: 1rem;
  text-align: center;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

/***************************** MEDIA QUERIES *****************************/

@media (max-width:768px) {

  .anadir,
  .verMas {
    padding: .5rem 1.5rem;
  }

  .redes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .iconos {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .enlace {
    font-size: .8rem;
  }

  .direccion {
    margin-top: 0;
  }

  header {
    grid-template-columns: 1fr;
  }

  .titulo {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .modal-contenido {
    margin: 1rem 0 1rem 0;
  }

  .pizzainfo {

    flex-direction: column;
  }

}