:root {
  --Naranjo: rgb(199, 61, 40);
  --NaranjoClaro: rgb(220, 114, 98);
  --Blanco: rgb(238, 230, 200);
  --GrisOscuro: rgb(47, 48, 57);
  --Grismedio: rgb(79, 80, 87);

}


body {
  font-family: Roboto;
  margin: 0;

}

nav {
  background-color: var(--Blanco);
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  box-sizing: border-box;

}

.noRegistrado {
  display: none;
}

main {
  background-color: var(--Blanco);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
  box-sizing: border-box;
  padding: 3rem;
}

@media (max-width:768px) {
  nav {
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
    padding: 1rem 1rem 2rem 1rem;
    align-items: flex-start;
    gap: 1.5rem;
  }

  ul a {
    font-size: .9rem;
  }

  .logo {
    align-self: center;
    margin: 0;
  }

  .total {
    position: absolute;
    right: 15px;
    bottom: 25px;
    padding: .8rem 1.5rem;

  }

  .ul {
    justify-self: left;
    align-self: flex-start;
  }


}